/**
 * @name dracula
 * @description Darker Dracula theme for discord
 * @author SpaceSnek
 * @version 0.0.2
 * @website https://spacesnek.github.io/discord-dracula-dark
 * @source https://spacesnek.github.io/discord-dracula-dark/main.css
 */

@import url("https://spacesnek.github.io/discord-dracula-dark/main.css");
